.toolbar-spacer {
    flex: 1 1 auto;
}

mat-toolbar .mode-line {
    background: hsla(0, 0%, 100%, .15);
    height: 16px;
    margin: 16px;
    width: 1px;
}

.wallet-address:hover {
    cursor: pointer;
}

mat-sidenav-content {
    padding: 16px;
}

mat-sidenav-content {
    height: calc(100vh - 96px);
}

@media (max-width: 600px) {
    mat-sidenav-content {
        height: calc(100vh - 88px)
    }
}