<div>
  <mat-card class="event-card">
    <mat-card-header fxLayout="column">
      <div fxFlex="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="end center" style="padding-right: 8px;">
          <mat-icon class="event-card-content-line">event</mat-icon>
          <p class="event-card-content-line">{{eventDapp.datetime.toLocaleString()}}</p>
        </div>
        <mat-chip>{{getEventStatus()}}</mat-chip>
      </div>
      <div fxFlex="row" style="padding-bottom: 8px;">
        <mat-card-title>
          {{eventDapp.title}}
          <mat-icon matTooltip="Ver contrato" (click)="openTicketContract()" class="event-card-content-line" style="cursor: pointer;" >open_in_new</mat-icon>
        </mat-card-title>
        <mat-card-subtitle *ngIf="eventDapp.ticketsAvailable != 1; else restaUmIngresso">
          {{eventDapp.ticketsAvailable}} ingressos disponíveis
        </mat-card-subtitle>
        <ng-template #restaUmIngresso>
          <mat-card-subtitle>{{eventDapp.ticketsAvailable}} ingresso disponível</mat-card-subtitle>
        </ng-template>
      </div>
    </mat-card-header>
    <mat-card-content fxFlex="column">
      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-icon class="event-card-content-line" style="padding-top: 3px;">location_on</mat-icon>
        <p class="event-card-content-line" style="padding-left: 4px;">{{eventDapp.location}}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <p class="event-card-content-line">1 ingresso por {{eventDapp.price}} wei</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <span matTooltip="Conecte sua carteira primeiro" [matTooltipDisabled]="(isConnected | async)" fxFlex.lt-sm="100%">
          <button mat-flat-button color="accent" fxFlex.lt-sm="100%"
            [disabled]="getEventStatus() != 'Disponível' || !(isConnected | async)" (click)="buyTicket()">
            Comprar ingresso
          </button>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>